header {
    background-image: url(./ghY4rc.jpg);
    background-size: cover;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.shadowfiend {
    display: flex;
    justify-content: space-around;
    width: 88%;
    margin-right: 2%;
}

.nav-button {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 29%;
    gap: 15px;
    align-items: center;
}

.nav-button img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.nav-button button {
    border-radius: 8px;
    width: 50%;
    border: none;
}

.nav-button button:hover {
    transform: scale(1.1);
    transition: 1s;
}


.nav-button input {
    width: 80%;
    text-align: center;
    border-radius: 8px;
}

@media screen and (max-width: 1450px){
    .nav-button img {
        width: 100%;
        height: 170px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 576px){
    .nav-button img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .shadowfiend {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 42px 0px;
    }
    .nav-button {
        width: 80%;
        gap: 15px;
        align-items: center;
    }

    header {
        height: 200%;
    }

}